<form [formGroup]="userForm">
  <mat-form-field class="form-field">
    <input matInput type="text" placeholder="Search for  Github user" formControlName="userName">
  </mat-form-field>
</form>

<mat-progress-bar *ngIf="loading" mode="indeterminate" value="50"></mat-progress-bar>

<ng-container *ngIf="(user$ | async) as user">
  <mat-card class="user-card">
    <mat-card-header>
      <mat-card-title>{{user.login}}</mat-card-title>
      <mat-card-subtitle>{{user.html_url}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="user.email">{{user.email}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="card-image" src="{{user.avatar_url}}" alt="Photo">
    <a class="link" href="{{user.html_url}}" target="_blank">Open Github Account</a>
  </mat-card>
</ng-container>

<div class="noUser" *ngIf="noUser">No user with such login. Try to search again...</div>
