.user-card {
  max-width: 300px;
  text-align: center;
}
.link {
  padding: 10px 20px;
  border-radius: 5px;
  color: grey;
  background-color: #3e51b5;
  text-decoration: none;
  margin: 0 auto;

  &:hover {
    color: white;
  }
}
.noUser{
  margin: 20px 0;
  color:red;
  font-style: italic;
  font-size: large;
}
